name: deploy-mkdocs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: install mkdocs
        run: |
          pip install mkdocs

      - name: build mkdocs for gh-pages
        run: |
          mkdocs build --clean --config-file docs/mkdocs.yml --site-dir docs/mkdocs

      - name: deploy to gh-pages
        run: |
          cd docs/mkdocs
          git init
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git commit -m "deploy mkdocs"
          git branch -M gh-pages
          git remote add origin https://x-access-token:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          git push -f origin gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}